/* section hero */
.hero-section {
  background-color: var(--dark-background);
  color: var(--white);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px var(--btn-boxshadow-color);
  border-radius: 4px;
}

/* section out features */
.our-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-features-text {
  color: var(--secondary);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* sectio what do we do */
.we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section our team */
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

.our-team-position {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prof-color);
}
